body{
  background-image: url('1.jpg');
  background-size: cover;
  height: 100vh;
  justify-content: center;
}
.f{
  margin-left: 20%;
  font-weight: bold;
}
.form_reg{
  width: 50%;
  margin-top: 3%;
  margin-left: 3%;
}
.start{
  padding-top: 7%;
  padding-left: 20%;
}
.ji{
  margin-top: 2%;
  margin-bottom: 2%;
  text-decoration: underline;
  font-weight:bold;
}


    .navbar-brand {
        font-size: 2.3rem;
        margin-left: 35px;
        font-family: 'Chelsea Market', cursive;
        color: white;
    }

    .nav-link {
        font-family: 'Balsamiq Sans', cursive;
        font-size: 1.3rem;
        margin-left: 12px;
    }

    .navbar-nav {
        margin-right: 35px;
    }

    .header-content {
        text-align: center;
    }

    .header-h1 {
        font-size: 3rem;
        font-family: 'Chelsea Market', cursive;
        color: white;
        margin-top: 80px;
        /* margin-left: 20px; */
    }

    .header-h2 {
        font-family: 'Chelsea Market', cursive;
        font-size: 2rem;
        margin-top: 40px;
        margin-left: 30px;
        /* margin-left: 20px; */
    }
    .footer {
            /*height: 100%;*/
            position: relative;
            background-color: black;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top:30px;
        }

        .footer-font {
            font-family: 'Balsamiq Sans', cursive;
            color: white;
            font-size: 1.2rem;
        }

        .fab-color {
            color: white;
            padding: 4px;
        }

        .fab-color:hover {
            color: #a1c4cf;
        }

        .ancor {
            text-decoration: none;
        }

        .brief-footer {
            font-family: 'Yanone Kaffeesatz', sans-serif;
        }

        .copyright {
            font-family: 'Ubuntu', sans-serif;
            font-size: 1rem;
        }
